/* Common */
html,
body {
  margin: 0;
  background-color: #F5F1E4;
  background-image:
    radial-gradient(#EDE0BA 18%, transparent 0),
    radial-gradient(#EDE0BA 18%, transparent 0);
  background-position: 0 0, 1rem 1rem;
  background-size: 2rem 2rem;
  color: #42332D;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #24B5CC;
}

noscript {
  color: #F68292;
}

hr {
  border: 1px #7D7258;
  border-style: dashed;
}

table {
  margin: 0;
  border-collapse: collapse;
}

tr {
  white-space: nowrap;
}

th, td {
  padding: 0.4rem;
  border: 1px #180000 solid;
}

th {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

label {
  vertical-align: middle;
}

input,
select,
.checkBoxLabel {
  height: 2rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0;
  border-radius: 2rem;
  border: none;
  background-color: white;
  color: #7D7258;
  font-size: medium;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=button],
input[type=submit],
input[type=reset] {
  padding: 0 1rem;
  margin: 0;
  border-width: 0;
  background-color: #24B5CC;
  color: white;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
.checkBoxLabel:active {
  transform: scale(0.9);
  transition: all ease-out 0.05s;
}

input[type=checkbox] {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

input[type=number].price {
  width: 4rem;
}

input[type=number].transitionAmount {
  width: 4rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.checkBoxLabel {
  display: inline-block;
  padding-left: 1.8rem;
  background-image: radial-gradient(#EDE0BA 40%, transparent 0);
  background-repeat: no-repeat;
  background-position: 0.1rem, 0.1rem;
  background-size: 1.8rem 1.8rem;
  line-height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox]:checked + .checkBoxLabel {
  background-image:
    radial-gradient(#7D7258 20%, transparent 0),
    radial-gradient(#EDE0BA 40%, transparent 0);
}

input[type=checkbox]:focus + .checkBoxLabel {
  background-color: #F5F1E4;
}

div.horizontalScroll {
  overflow-x: auto;
}

/* Header */
header {
  width: 100%;
  margin: 0 0 2.5rem 0;
  color: #180000;
  text-align: center;
}

header h1 {
  padding-top: 0.2rem;
  color: #42332D;
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  margin-bottom: 0.2rem;
  font-size: small;
  word-break: keep-all;
}

/* Content */
section.container {
  width: 80%;
  min-width: 17rem;
  max-width: 55rem;
  padding: 1.2rem;
  margin: auto;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  background-color: #EDE0BA;
}

section.container h2 {
  position: absolute;
  transform: translate(-1rem, -2.5rem) rotate(-3deg);
  width: fit-content;
  padding: 0.3rem 1rem;
  margin-bottom: 0.2rem;
  border-radius: 1rem;
  background-color: #FD9A47;
  color: white;
  font-size: medium;
  font-weight: normal;
}

/* Footer */
footer {
  width: 100%;
  margin: 0 0 0.5rem 0;

  color: #42332D;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
}

footer p {
  font-style: normal;
}

a.footerLink:link,
a.footerLink:visited,
a.footerLink:hover,
a.footerLink:active {
  color: gray;
}

/* Inline Input */
#inlineInputContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 -0.2rem -0.2rem -0.2rem;
}

#inlineInputContainer input[type=button],
#inlineInputContainer input[type=submit] {
  margin: 0.2rem;
}

input#inlineInput {
  flex-grow: 1;
  margin: 0.2rem;
}

/* Price Input */
#priceInputContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.2rem -0.3rem 0.2rem -0.3rem;
}

.dailyPriceInputContainer {
  padding: 0.9rem 0.9rem 0.6rem 0.9rem;
  margin: 0.3rem;
  border-radius: 1.5rem;
  background-color: #F5F1E5;
}

.dailyPriceInputContainer h3 {
  margin-bottom: 0.2rem;
}

.dailyPriceInputContainer p {
  margin-bottom: 0.3rem;
}

section#priceInput input[type=submit] {
  margin-right: 0.4rem;
}

/* Prediction Result */
section#predictionResult {
  display: none;
  font-size: small;
}

section#predictionResult td.realPrice {
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
}

section#predictionResult td.maxPrice {
  background-color: #F68292;
}

/* Settings */
section#settings p#presetTip {
  color: gray;
  font-size: small;
}

section#settings p {
  margin-bottom: 0.3rem;
}

#parameterInputTable {
  display: none;
  margin-top: 0.4rem;
}

#parameterInputTable td {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

#parameterInputTable select,
#parameterInputTable .checkBoxLabel {
  margin: 0 0.2rem;
}
